<div class="success">
  <% if @successful_exchanges.present? %>
    <h2>All the successful exchanges</h2>
    <%= render @successful_exchanges.by_most_recent %>
    <% else %>
      <p>No successful exchange yet.</p>
  <% end %>
</div>
