<div class="success">
  <% if @successful_exchanges.present? %>
    <header class="index-header">All Successful Exchanges</header>
    <%= render @successful_exchanges.by_most_recent %>
  <% else %>
  <p>No successful exchanges yet.</p>
  <% end %>
</div>
