<h1>Counteroffer name: <%= counteroffer.name %></h1>
<h1>Counteroffer description: <%= counteroffer.description %></h1>
<%= image_tag counteroffer.url, width:"500" %>

<p>Counteroffered by user: <%= link_to counteroffer.user.username, counteroffer.user %></p>
