<div class="listing-index">
  <h3>All the listings</h3>
  <% if signed_in? %>
    <b class= "make-list"><%= link_to "Make New Listing", new_listing_path %></b>
  <% end %><br><br>
  <%= render @listings.by_most_recent %>
</div>
