<% if signed_in? %>
  <%= link_to "Make New Listing", new_listing_path, class: "button" %>
<% end %>
<%= link_to "View Successful Exchanges", successful_exchanges_path, class: "button" %>

<div>
  <div class="listing-exchange">
  <header class="index-header">All Listings</header>
  <%= render @listings.by_most_recent %>
</div>
