<%= render comment.content %>
<p><%= comment.created_at.to_s %></p>
<p>Commented by: <%= link_to comment.username, comment.user %></p>
<p>Commented <%= time_ago_in_words(comment.created_at) %> ago</p>
