<div class="comment">
  <%= render comment.content %>
  <p>Commented at <%= comment.created_time %></p>
  <p>by: <b class="username"><%= link_to comment.username, comment.user %></b></p>
  <p>Commented at <%= time_ago_in_words(comment.created_at) %> ago</p>
</div>
