<div class="content-group">
  <p class="content-name"><%= link_hashtags link_usernames(comment.body) %></p> 

  <div class="by-user">
    <p>posted by <span class="content-name"><%= link_to comment.user.username, comment.user %></span></p>
    <p>was created on <%= comment.created_time %></p>
  </div>

  <div class="edit-comment">
    <% if comment_user_is_current_user(comment) %>
      <%= render partial: "comments/form", locals: { comment: comment, commentable: comment.commentable } %>
    <% end %>
  </div>
</div>
