<div class="content-group">
  <%= comment.body %>

  <div class="by-user">
    <p>posted by <%= link_to comment.user.username, comment.user %></p>
    <p>was created on <%= comment.created_time %></p>
  </div>

  <div class="edit-comment">
    <% if comment.user == current_user %>
      <%= render partial: "comments/form", locals: { comment: comment, commentable: comment.commentable } %>
    <% end %>
  </div>
</div>

