<p><%= render comment.content %></p>
<p>Commented at <%= comment.created_time %></p>
<p>by: <%= link_to comment.username, comment.user %></p>
<p>Commented at <%= time_ago_in_words(comment.created_at) %> ago</p>
<br>
