<div class="listing">
  <div class="by-user">
      <p>by: <%= link_to comment.username, comment.user %></p>
  </div>

  <div class="comment-content">
      <%= render comment.content %>
  </div>
  </ul>
</div>
