<% if user_signed_in? %>
  <%= link_to "Make New Group", new_group_path, class: "button" %>
<% end %>
  <div>
  <header class="index-header">All Groups</header>
  <%= render @groups.by_most_recent %>
</div>
