<div class="user">
  <h3>name: <i class="username"><%= link_to user.username, user_path(user) %></i></h3>
  <h4>bio: <i><%= user.bio %></i></h4>

  <p>
    Location: <b class="location"><%= link_to user.city.titleize, location_path(user.location) %></b>,
      <%= user.state.upcase %>
  </p>
</div>
