<div class="content-group">
  <p>name: <i class="username"><%= link_to user.username, user_path(user) %></i></p>
  <%= image_tag user.avatar.url %>
  <p>bio: <i><%= user.bio %></i></p>

  <p>
    Location: <b class="location"><%= link_to user.city.titleize + ', ' + user.state.upcase, location_path(user.location) %></b>
  </p>
</div>
