<p class="title">ABZ EXCHANGE</p>
<ul>
  <li>If you have items or services to exchange we can help you connect with interested people!</li>
  <li>You can: </li>
  <li>See successful exchanges</li>
  <li>Add your own listing</li>
  <li>Make an offer on a listing</li>
  <li>Accept an offer</li>
  <li>Complete an exchange</li>
  <li>Follow other users</li>
  <li>Add images</li>
  <li>Add comments</li>
  <li>Locate all users</li>
  <li>Find direction to reach another user</li>
  <li>Search listings, offers, users, or images by name, text-comments by text.</li>
</ul>
