<p class="title">
  <%= image_tag "ABZX.png" %>
</p>
<p>If you have items or services to exchange we can help you connect with interested people!</p>
<p>You can:</p>
<ul class="feature-list">
  <li>See successful exchanges</li>
  <li>Add your own listing</li>
  <li>Make an offer on a listing</li>
  <li>Accept an offer</li>
  <li>Complete an exchange</li>
  <li>Add images</li>
  <li>Add groups</li>
  <li>Follow other users</li>
  <li>Add comments to listings, images and groups</li>
  <li>Find direction to reach another user</li>
  <li>Search listings, offers, users, images and comments.</li>
</ul>
