<div><h1>ABZ EXCHANGE</h1></div>
<div class="introduction">
  <p>If you have items or services to exchange we can help you connect with interested people!</p>
  <p>You can: </p>
  <p>See successful exchanges</p>
  <p>Add your own listing</p>
  <p>Make an offer on an listing</p>
  <p>Accept an offer</p>
  <p>Complete an exchange</p>
  <p>Locate all users</P>
  <P>See the direction between you and another user</P>
  <p>Follow another users</p>
  <p>Add image</p>
  <p>Add comment</p>
  <p>Search listings, offers, users, or images by name, text-comments by text.</p>
</p>
