<div class="introduction">
  <h1>ABZ EXCHANGE</h1>

  <p>If you have items or services to exchange we can help you connect with interested people!</p><br>
  <p>You can: </p>
  <p>See successful exchanges</p>
  <p>Add your own listing</p>
  <p>Make an offer on a listing</p>
  <p>Accept an offer</p>
  <p>Complete an exchange</p>
  <p>Follow other users</p>
  <p>Add images</p>
  <p>Add comments</p>
  <p>Locate all users</P>
  <P>Find direction to reach another user</P>
  <p>Search listings, offers, users, or images by name, text-comments by text.</p>
</div>
