<div class="edit">
  <%= link_to "Edit Your Information 编辑你的信息", edit_user_path(current_user) %>
</div>

<h1>My Dashboard 我的页面</h1>
<div id="map"></div>

<%= render(partial: "images/user_image", collection: @user.images) || "<p> User does not have image yet. </p>".html_safe %>


<% current_user.comments.each do|comment|%>
  My comment: <%= render comment.content%>
<%end%>

<script>
  buildMap(<%= raw @location_hash.to_json %>);
</script>
