a:active, a:hover {
  color: #FF00FF;
}

a:link {
  color: #400D12;
  text-decoration: none;
}

a:visited {
  color: white;
}

body {
  background: linear-gradient(#E6005C, #3366FF) 50% 0 no-repeat fixed;
  color: white;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 1.5;
  margin: 0;
}

.button a:hover {
  color:red
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.clearfix li {
  float: left;
  font-size: 22px;
  padding-left: 145px;
  padding-top: 15px;
}

.comment {
  border: 1px solid #660099;
  border-radius: 5px;
  padding: 20px;
  width: 950px;
}

.edit a:hover, a:active{
  color: red;
}

.edit p {
  border: 1px solid red;
  border-radius: 4px;
  padding: 20px;
  width: 255px;
}

.follow {
  border: 1px solid red;
  border-radius: 5px;
  padding: 20px;
  width: 950px;
}

.footer {
  font-size: 15px;
  text-align: center;
  padding-bottom: 20px;
}

.hello {
  font-size: 12px;
  margin-left: 180px;
  margin-top: 10px;
}

h1 {
  text-align: center;
}

.location a:hover, a:active{
  color: red;
}

.make-list a {
  padding: 5px;
  width: 950px;
  text-align: center;
}

.listing {
  border: 1px solid #CA278C;
  border-radius: 5px;
  padding: 20px;
  width: 950px;
}

.listing-index a:hover, a:active {
  color: red;
}

.listing-index {
  margin-top: 100px;
}

.image {
  border: 1px solid #A80000 ;
  border-radius: 5px;
  padding: 20px;
  width: 950px;
}

nav {
  margin: 0;
  width: 100%;
  padding: 0;
}

.offer-show {
  border-bottom: dotted #ff0000;
  width: 950px;
}

.search {
  margin-top: -270px;
  margin-left: 1000px;
}

section {
  padding: 7px 80px;
  margin: 4em;
}

.session {
  margin-top: 200px;
}

.session p {
  font-size: 15px;
}

.sign-in a:hover, .sign-in a:active, {
  color: red;
}

.sign-out {
  font-size:13px;
  margin-left: 180px;
  margin-top: 20px;
}

ul {
  margin: 0;
  list-style-type: none;
  list-style-position: inside;
  width: 100%;
}

ul.clearfix a:hover, ul.clearfix a:active {
  color: red;
}

.user {
  border-bottom: dotted #ff0000;
  width: 950px;
}

.user-new {
  margin-top: 200px;
}

.username a:hover, .username a:active {
  color: red;
}
