a:active, a:hover {
  color: #FF00FF;
}

a:link {
  color: #400D12;
  text-decoration: none;
}

a:visited {
  color: white;
}

body {
  background: linear-gradient(#E6005C, #3366FF) 50% 0 no-repeat fixed;
  color: white;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 1.5;
  padding: 7px 80px;
  margin: 4em;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.clearfix li {
  float: left;
  font-size: 20px;
  padding-right: 16px;
  padding-bottom: 14px;
}

.comment {
  border: 1px solid blue;
  border-radius: 5px;
  padding: 20px;
  width: 1150px;
}

.follow {
  border: 1px solid red;
  border-radius: 5px;
  padding: 20px;
  width: 1150px;
}

li:last-child {
  padding-right: 0;
}

li:first-child {
  padding-left: 0;
}

.location a:hover, a:active{
  color: red;
}

.image {
  border: 1px solid purple;
  border-radius: 5px;
  padding: 20px;
  width: 1150px;
}

.image-show:hover {
  -webkit-transform:scale(1.2);
  transform: scale(2);
  text-align: center;
}

.offer {
  border: 1px solid red;
  border-radius: 5px;
  padding: 20px;
  width: 1150px;
}

.offer-show {
  border-bottom: dotted #ff0000;
  width: 1150px;
}

.sign-in a:hover, .sign-in a:active, {
  color: red;
}

ul {
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  list-style-position: inside;
  padding: 12px;
  padding-left: 0px;
  padding-right: 0px;
}

ul.clearfix a:hover, ul.clearfix a:active {
  color: red;
}

.user {
  border-bottom: dotted #ff0000;
  width: 1150px;
}

.username a:hover, .username a:active {
  color: red;
}
