a:active, a:hover {
  color: #FF00FF;
}

a:link {
  color: #3366FF;
  text-decoration: none;
}

a:visited {
  color: #3366FF;
}

body {
  background-color: #93E2D5;
  color: #3366FF;
  font-family: Open Sans, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

.button a:hover {
  color:red
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.clearfix li {
  float: left;
  font-size: 13px;
  margin-left: 42px;
  padding-top: 15px;
}

.comment {
  border: 2px solid white;
  border-radius: 5px;
  padding: 20px;
  width: 850px;
}

.edit a:hover, a:active{
  color: red;
}

.edit p {
  border: 2px solid white;
  border-radius: 4px;
  padding: 20px;
  width: 255px;
}

.introduction {
  font-size: 20px;
}

.follow {
  border: 2px solid white;
  border-radius: px;
  padding: 20px;
  width: 850px;
}

.footer {
  font-size: 10px;
  margin-top: 100px;
  padding-bottom: 20px;
  text-align: center;
}

h1 {
  font-size: 50px;
  text-align: center;
}

.location a:hover, a:active{
  color: red;
}

.make-list a {
  padding: 5px;
  text-align: center;
  width: 850px;
}

.listing {
  border: 2px solid white;
  border-radius: 5px;
  padding: 20px;
  width: 850px;
}

.listing-index a:hover, a:active {
  color: red;
}

.listing-index {
  margin-top: 30px;
  margin-left: -10px;
}

.image {
  border: 2px solid white;
  border-radius: 5px;
  padding: 20px;
  width: 850px;
}

nav {
  margin: 0;
  padding: 0;
  width: 100%;
}

.offer {
  border: 2px solid white;
  border-radius: 5px;
  padding: 20px;
  width: 850px;
}

.offer-show {
  border-bottom: dotted white;
  width: 850px;
}

.search {
  float: right;
  font-size: 30px;
  margin-top: -7px;
}

section {
  padding: 5px 97px;
}

.session {
  margin-left: -10px;
  padding-top: 20px;
}

.session p {
  font-size: 13px;
}

.sign-in {
  background: #99FF00;
}

.sign-in a:hover, a:active, {
  color: red;
}

.sign-out {
  font-size: 14px;
  float: left;
  margin-top: 15px;
}

.sign-up {
  background: #99FF00;
}

.small {
  font-size: 15px;
}

.success {
  margin-top: 30px;
  margin-left: -10px;
}

.successful-exchange {
  border: 5px solid white;
  border-radius: 5px;
  padding: 20px;
  width: 850px;
}

.welcome {
  padding-left:10px;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  width: 100%;
}

ul.clearfix a:hover, a:active {
  color: red;
}

.user {
  border-bottom: dotted white;
  width: 850px;
}

.user-new {
  margin-top: 30px;
  margin-left: -10px;
}

.username {
  font-size: 30px;
}

.username a:hover, a:active {
  color: red;
}
