#directions {
  height: 12em;
  margin-bottom: 20px;
  width: 1077px;
  margin: 1em auto;
}

#map {
  height: 12em;
  margin: 1em auto;
  width: 1077px;
}

.location a:hover, a:active{
  color: red;
}

.location-info {
  font-size: 20px;
}

@media only screen and (max-device-width: 1500px) {

  #directions {
    width: 100%;
  }

  #map {
    width: 100%;
  }
}

