@media only screen and (max-device-width: 1500px) {
  nav {
    .search {
      #search {
        margin-left: -245px;
        width: 300px;
      }
    }
  }

  .container {
    margin: 0 auto;
  }

  input {
    font-size: 8px;
    height: 35px;
    border-radius: 5px;
    background-color: white;
  }

  .introduction {
    font-size: 0.7em;
    .title {
      font-size: 6em;
    }
  }

  .listing {
    width: 900px;
  }

  .session {
    #session_password, #session_username {
      width: 15%;
      font-size: 18px;
    }
    li {
      float: right;
    }
  }

  .success {
    .font-mid {
      font-size: 50px;
    }
  }

  .session-introduction {
    margin-top: -7em;
    li {
      font-size: 1em;
      padding-bottom: 0.3em;
    }

    .title {
      font-size: 2em;
    }
  }

  .offer-edit {
    margin-top: 20px;
  }

  .by-user {
    font-size: 15px;
  }

  .follows {
    background-color: #D9FFD7;
    padding: 40px;
    width: 36em;

    li {
      margin-bottom: 50px;
    }
  }
}
