.sign-up {
    background: #3366FF;
    height: 50px;
    font-size: 35px;
    transition: width 2s;
    width: 330px;

    -webkit-animation: myfirst 8s;
    animation: myfirst 15s;
}

@-webkit-keyframes myfirst {
    0%   {background: yellow;}
    25%  {background: red;}
    50%  {background: blue;}
    100% {background: green;}
}

.sign-up:hover {
    width: 900px;
}
