$light-yellow: #FFFFE0;
$mild-yellow: #ffe39f;
$light-green: #D9FFD7;
$orange-yellow: #F1603B;
$orange-red: #f36f14;
$bright-yellow: #faffbd;
$arctic-blue: #1695A3;
$mid-blue: #0078ee;
$light-grey: #EBEBEB;
$lake-blue: #1695A3;
$red-orange: #F6764B;

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Roboto', sans-serif; 

$border-radius: 5px;

$font-size-primary: 17px;