<div class="location-map">
  <div id="map"></div>
</div>

<div class="user">
  <h2>Where would you like to go?</h2>
  <% @locations.each do |location| %>
    <p class="location">
      <b class="location"><%= link_to location.city.titleize + ', ' + location.state.upcase, location %>
  <% end %>

  <p><%= link_to "Add a new location", new_location_path, class: "button" %></p>
</div>

<script>
  buildMap(<%= raw @location_hash.to_json %>);
</script>
