<div>
  <%= link_to "Create New Location", new_location_path(@location) %>
</div>

<div>
  <%= link_to "Go To My Page 我的页面", user_path(current_user) %>
</div>

<h1>Where would you like to go?</h1>
<% @locations.each do |location| %>
  <%= link_to location.city.titleize, location %>
<% end %>
