<div class="location-map">
  <div id="map"></div>

  <script>
  var map, infoWindow;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 37.6871761, lng: -97.330053},
      zoom: 3,
      mapTypeId: google.maps.MapTypeId.TERRAIN

    });
    infoWindow = new google.maps.InfoWindow;
    
    var locations = JSON.parse('<%= @locations_json.html_safe %>');

    console.log(locations);
    var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';


    var markers = locations.map(function(location, i){
    	return new google.maps.Marker ({
    		position: location,
    		label: labels[i % labels.length]
    	});
    });

    var markerCluster = new MarkerClusterer(map, markers,
      {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      
  }
</script>
<%= render "application/google_maps", object: @locations %>

</div>

<div class="user">
  <h2>Where would you like to go?</h2>
  <% @locations.each do |location| %>
    <p class="location">
      <b class="location"><%= link_to location.city.titleize + ', ' + location.state.upcase, location %>
  <% end %>

  <p><%= link_to "Add a new location", new_location_path, class: "button" %></p>
</div>

